.create-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-top: 30px;
  padding-left: 30px;
  >input, button {
     height: 30px;            
     margin-bottom: 10px;
     padding-left: 10px;
     padding-right: 20px;
  }
  >p {
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
  }
}
